<!-- Basic View Starter -->
<div>
  <div>{{starter}}</div>
  <div>you have {{linksNum}} links saved</div>
</div>

<br>
<br>

<div ng-click='showKeywords()'>Keywords</div>
<div ng-click='showLinks()'>All Links</div>

<br>
<br>

  <div ng-class='keywordsTab' ng-show='showkeyword'>
    <div>Here are your top 8 keywords</div>
    <div ng-class='showKeywords'></div>
      <p ng-repeat='word in keywords | limitTo:8'>
        {{word.text}}
      </p>
    </div>
  </div>


  <div ng-class='showLinks' ng-show='showlink'>
  <div>Here are all your links</div>
  <div ng-repeat='link in links'>
    <div>{{link.title}}</div>
    <div>{{link.url}}</div>
  </div>
  </div>