.keywords {
  display: flex;
}

.topHeaders {
  width: 75%;
}
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}

.divTableBody {
	display: table-row-group;
}

.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #fff1bf;
}

/*.headers {
  font-family: 'Adamina', sans-serif;
  text-align: center;
}*/

.left {
  color: blue;
}
.positive {
  color: green;
}

/*#innercard {
  width: 75%;
  margin: auto;
  border: black;
  border-style: double;
  margin-bottom: 25px;
}

.title{
  margin: 30px;
}

.reportcard {
  border-color: black;
  border-style: double;
  width: 75%;
  margin: auto;
  background-color: #FFEDB0;
}*/

#spinner {
  /*color: #fff;*/
  text-shadow: 1px 1px 1px #ccc;
  /*font-size: 1.5em;*/
}


#mainContainer {
  transform: translate(-50%, -50%);
  position: fixed;
  padding: 1em;
  left: 50%;
  margin-right: -50%;
  width: 60%;
  height: 20%;
  /*transition-property: top, background-color, border-color, transform;*/
  /*transition-duration: 350ms, 0.8s, 0.8s, 0.1s;*/
  /*transition-timing-function: ease-out, linear, linear;*/
}

.vert-center {
  top: 50%;
  background-color: rgba(255,255,255,1);

}

.vert-center-disabled {

  top: 9%;


}

.fixed-header {
  position: fixed;
}

.chartTitle {
  margin-left: 50px;
  font-weight: bolder;
  font-size: 150%;
  color: white;
}

.titlebarTitle {
  /*margin-left: 50px;*/
  font-weight: bolder;
  font-size: 120%;
  color: steelblue;
}

.top-pad {
  padding-top: 10%;
  position: relative;
  z-index: -1;
}

.mid-pad {
  padding-top: 5%;
  position: relative;
  z-index: -1;
}

#formContainer {
  padding: 0px 5% 0px 5%;
  margin: 0px;
  align-items: center;
  display: flex;
  justify-content: center;
}

#trendsContainer {
  background-color: white;
  margin: 0px;
  align-items: center;
  display: flex;
  justify-content: center;
}

#bubbleContainer {
  margin: 0px;
  align-items: center;
  display: flex;
  justify-content: center;
}

#spinnerContainer {
  margin: 0px;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}

#titlebarContainer {
  width: 80%;
  margin-left: 10%;
}

.centerGeneric {
  color: white;
  margin: 0px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: bolder;
}

.centerHeader {
  margin: 0px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: 300%;
  width: 100%;
  transition-property: color;
  transition-duration: 0.5s;
}

.loaded-header-disable {
  color: rgb(8, 84, 135);
}

.loaded-header {
  color: white;
}
